<div>
  Welcome to The Simple Docs, the minimalistic application suite! Home of
  <ul>
    <li>The Simple Reader, an RSS reader</li>
    <li>The Simple Note, a Markdown editor</li>
  </ul>
  <%= link_to 'Sign up', new_user_registration_path %> or
  <%= link_to 'log in', new_user_session_path %> to start using these
  lightweight applications.
</div>
