<p>
  Welcome to The Simple Reader, the minimalistic RSS reader! 
  <%= link_to 'Sign up', new_user_registration_path %> or 
  <%= link_to 'log in', new_user_session_path %> and start adding the feeds you 
  want to read.
</p>
