// Place all the styles related to the Feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.feed-header {
  h2 {
    margin-top: 0;
  }
}

.feed {
  max-width: 100%;
  overflow: hidden;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
  }
}

.feed-sidebar {
  float: left;
  width: 288px;
  padding-right: 18px;
  overflow: hidden;
}
