// Place all the styles related to the Feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.feed-header {
  h2 {
    margin-top: 0;
  }
}

.feed {
  margin-right: m#{a}x(calc((100% - 720px)/2), 0px);
  margin-left: m#{a}x(calc((100% - 720px)/2), 0px);
  max-width: 100%;
  min-width: m#{i}n(414px, 100%);
  overflow: hidden;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
  }
}
