.feed-sidebar {
  float: left;
}

header {
  text-align: center;

  img {
    max-width: 100%;
    width: 720px;
  }
}

.flash {
  font-weight: bold;

  &.notice {
    color: green;
  }

  &.error {
    color: red;
  }
}
